<h2>・MyDictionary</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">dictionary_key</th>
            <th scope="col">search_key</th>
            <th scope="col">error解決に至るまでのメモ</th>
        </tr>
    </thead>
    <tbody >
    <% @stumblings.each do |stumbling| %>
        <tr >
            <td ><%= stumbling.dictionary_key %></td>
            <td ><%= stumbling.search_key %></td>
            <td ><%= stumbling.memo %></td>
            <td ><%= link_to '編集',edit_api_v1_user_stumbling_path(stumbling) %></td>
        </tr>
    <% end %>
    </tbody>
</table>