<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="sytlesheet" href="">
</head>

<body>

<%= @stumblings.each do |stumbling| %>
    <%= stumbling.search_key %><br>
<% end %>

</body>

</html>
